VITE_UPLOAD_ENDPOINT=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
VITE_DRIVE_FOLDER_NAME=Shared Google Drive folder
VITE_DRIVE_FOLDER_LINK=https://drive.google.com/drive/folders/YOUR_FOLDER_ID
